# idk:
*.xls
*.xml
*.iml
*.drawio*


# cpp dll for python:
*.pyd

# build:
build
modules/implementations/zparser_lib_cpp/build
modules/implementations/zparser_lib_cpp/cmake-build-debug

# govno:
*venv
*.idea
*__pycache__